libraries/lbstub/src/main/wsdl/LB.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:lb="http://glite.org/wsdl/services/lb" xmlns:lb4agu="http://glite.org/wsdl/services/lb4agu" xmlns:lbe="http://glite.org/wsdl/elements/lb" xmlns:lbt="http://glite.org/wsdl/types/lb" name="LoggingAndBookkeeping" targetNamespace="http://glite.org/wsdl/services/lb">
  <documentation>CVS revision: $Header: /cvs/glite/org.glite.lb.ws-interface/src/LB.xml,v 1.13 2011/02/02 15:13:05 valtri Exp $</documentation>
  <wsdl:import namespace="http://glite.org/wsdl/services/lb" location="LBTypes.wsdl" />
  <wsdl:import namespace="http://glite.org/wsdl/services/lb4agu" location="lb4agu.wsdl" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://glite.org/wsdl/elements/lb" elementFormDefault="unqualified" attributeFormDefault="unqualified">
      <xsd:element name="GetVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dummy" type="xsd:string" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetInterfaceVersion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dummy" type="xsd:string" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetInterfaceVersionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="version" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="JobStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="jobid" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="flags" type="lbt:jobFlags" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="JobStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="stat" type="lbt:jobStatus" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserJobs">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UserJobsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="jobs" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="states" type="lbt:jobStatus" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryJobs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conditions" type="lbt:queryConditions" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="flags" type="lbt:jobFlags" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryJobsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="jobs" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="states" type="lbt:jobStatus" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryEvents">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="jobConditions" type="lbt:queryConditions" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="eventConditions" type="lbt:queryConditions" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryEventsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="events" type="lbt:event" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetIndexedAttrs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dummy" type="xsd:string" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetIndexedAttrsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="attrs" type="lbt:queryConditions" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetServerLimit">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dummy" type="xsd:string" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetServerLimitResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="limit" type="xsd:int" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifNew">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="notifId" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="destination" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="conditions" type="lbt:queryConditions" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="flags" type="lbt:jobFlags" minOccurs="1" maxOccurs="1" />
            <xsd:element name="valid" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifNewResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valid" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifBind">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="notifId" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="destination" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="valid" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifBindResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valid" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifRefresh">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="notifId" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="valid" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifRefreshResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="valid" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifDrop">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="notifId" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotifDropResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="genericFault" type="lbt:genericFault" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="genericFault">
    <wsdl:part name="genericFault" element="lbe:genericFault" />
  </wsdl:message>
  <wsdl:message name="GetVersionRequest">
    <wsdl:part name="input" element="lbe:GetVersion">
      <wsdl:documentation>Return version of the service.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetVersionResponse">
    <wsdl:part name="output" element="lbe:GetVersionResponse">
      <wsdl:documentation>Return version of the service.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetInterfaceVersionRequest">
    <wsdl:part name="input" element="lbe:GetInterfaceVersion">
      <wsdl:documentation>Return version of the service interface.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetInterfaceVersionResponse">
    <wsdl:part name="output" element="lbe:GetInterfaceVersionResponse">
      <wsdl:documentation>Return version of the service interface.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="JobStatusRequest">
    <wsdl:part name="input" element="lbe:JobStatus">
      <wsdl:documentation>Query state of a single job.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="JobStatusResponse">
    <wsdl:part name="output" element="lbe:JobStatusResponse">
      <wsdl:documentation>Query state of a single job.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserJobsRequest">
    <wsdl:part name="input" element="lbe:UserJobs">
      <wsdl:documentation>Simplified query, return all jobs of the authenticated user.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserJobsResponse">
    <wsdl:part name="output" element="lbe:UserJobsResponse">
      <wsdl:documentation>Simplified query, return all jobs of the authenticated user.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryJobsRequest">
    <wsdl:part name="input" element="lbe:QueryJobs">
      <wsdl:documentation>Retrieve a list of jobs, including their states, based on query conditions. The conditions take the form of a list of lists. Elements of the inner lists refer to a single job attribute, the conditions are or-ed. Elements of the outer list may refer to different job attributes, they are and-ed.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryJobsResponse">
    <wsdl:part name="output" element="lbe:QueryJobsResponse">
      <wsdl:documentation>Retrieve a list of jobs, including their states, based on query conditions. The conditions take the form of a list of lists. Elements of the inner lists refer to a single job attribute, the conditions are or-ed. Elements of the outer list may refer to different job attributes, they are and-ed.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryEventsRequest">
    <wsdl:part name="input" element="lbe:QueryEvents">
      <wsdl:documentation>Retrieve events matching a query. There are two sets of conditions, on jobs and on individual events, both have to be satisfied. Both query conditions have the same format as in QueryJobs.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryEventsResponse">
    <wsdl:part name="output" element="lbe:QueryEventsResponse">
      <wsdl:documentation>Retrieve events matching a query. There are two sets of conditions, on jobs and on individual events, both have to be satisfied. Both query conditions have the same format as in QueryJobs.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIndexedAttrsRequest">
    <wsdl:part name="input" element="lbe:GetIndexedAttrs">
      <wsdl:documentation>Server supported indexed attributes</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIndexedAttrsResponse">
    <wsdl:part name="output" element="lbe:GetIndexedAttrsResponse">
      <wsdl:documentation>Server supported indexed attributes</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetServerLimitRequest">
    <wsdl:part name="input" element="lbe:GetServerLimit">
      <wsdl:documentation>Retrieve limit on query result size (no. of events or jobs). Not implemented at server side.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetServerLimitResponse">
    <wsdl:part name="output" element="lbe:GetServerLimitResponse">
      <wsdl:documentation>Retrieve limit on query result size (no. of events or jobs). Not implemented at server side.</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifNewRequest">
    <wsdl:part name="input" element="lbe:NotifNew">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifNewResponse">
    <wsdl:part name="output" element="lbe:NotifNewResponse">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifBindRequest">
    <wsdl:part name="input" element="lbe:NotifBind">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifBindResponse">
    <wsdl:part name="output" element="lbe:NotifBindResponse">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifRefreshRequest">
    <wsdl:part name="input" element="lbe:NotifRefresh">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifRefreshResponse">
    <wsdl:part name="output" element="lbe:NotifRefreshResponse">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifDropRequest">
    <wsdl:part name="input" element="lbe:NotifDrop">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifDropResponse">
    <wsdl:part name="output" element="lbe:NotifDropResponse">
      <wsdl:documentation></wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoggingAndBookkeepingPortType">
    <wsdl:operation name="GetVersion">
      <wsdl:documentation>Return version of the service.</wsdl:documentation>
      <wsdl:input name="i" message="lb:GetVersionRequest" />
      <wsdl:output name="o" message="lb:GetVersionResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="GetInterfaceVersion">
      <wsdl:documentation>Return version of the service interface.</wsdl:documentation>
      <wsdl:input name="i" message="lb:GetInterfaceVersionRequest" />
      <wsdl:output name="o" message="lb:GetInterfaceVersionResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="JobStatus">
      <wsdl:documentation>Query state of a single job.</wsdl:documentation>
      <wsdl:input name="i" message="lb:JobStatusRequest" />
      <wsdl:output name="o" message="lb:JobStatusResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="UserJobs">
      <wsdl:documentation>Simplified query, return all jobs of the authenticated user.</wsdl:documentation>
      <wsdl:input name="i" message="lb:UserJobsRequest" />
      <wsdl:output name="o" message="lb:UserJobsResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="QueryJobs">
      <wsdl:documentation>Retrieve a list of jobs, including their states, based on query conditions. The conditions take the form of a list of lists. Elements of the inner lists refer to a single job attribute, the conditions are or-ed. Elements of the outer list may refer to different job attributes, they are and-ed.</wsdl:documentation>
      <wsdl:input name="i" message="lb:QueryJobsRequest" />
      <wsdl:output name="o" message="lb:QueryJobsResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="QueryEvents">
      <wsdl:documentation>Retrieve events matching a query. There are two sets of conditions, on jobs and on individual events, both have to be satisfied. Both query conditions have the same format as in QueryJobs.</wsdl:documentation>
      <wsdl:input name="i" message="lb:QueryEventsRequest" />
      <wsdl:output name="o" message="lb:QueryEventsResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexedAttrs">
      <wsdl:documentation>Server supported indexed attributes</wsdl:documentation>
      <wsdl:input name="i" message="lb:GetIndexedAttrsRequest" />
      <wsdl:output name="o" message="lb:GetIndexedAttrsResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="GetServerLimit">
      <wsdl:documentation>Retrieve limit on query result size (no. of events or jobs). Not implemented at server side.</wsdl:documentation>
      <wsdl:input name="i" message="lb:GetServerLimitRequest" />
      <wsdl:output name="o" message="lb:GetServerLimitResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="NotifNew">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input name="i" message="lb:NotifNewRequest" />
      <wsdl:output name="o" message="lb:NotifNewResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="NotifBind">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input name="i" message="lb:NotifBindRequest" />
      <wsdl:output name="o" message="lb:NotifBindResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="NotifRefresh">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input name="i" message="lb:NotifRefreshRequest" />
      <wsdl:output name="o" message="lb:NotifRefreshResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
    <wsdl:operation name="NotifDrop">
      <wsdl:documentation></wsdl:documentation>
      <wsdl:input name="i" message="lb:NotifDropRequest" />
      <wsdl:output name="o" message="lb:NotifDropResponse" />
      <wsdl:fault name="f" message="lb:genericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <binding name="LoggingAndBookkeeping" type="lb:LoggingAndBookkeepingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInterfaceVersion">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JobStatus">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UserJobs">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryJobs">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryEvents">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIndexedAttrs">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServerLimit">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NotifNew">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NotifBind">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NotifRefresh">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NotifDrop">
      <soap:operation style="document" />
      <wsdl:input name="i">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="o">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="f">
        <soap:fault name="f" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </binding>
  <service name="LoggingAndBookkeeping">
    <documentation></documentation>
    <port name="LoggingAndBookkeeping" binding="lb:LoggingAndBookkeeping">
      <soap:address location="http://test.glite.org/lb:8080" />
    </port>
    <port name="LoggingAndBookkeepingExecution" binding="lb4agu:LoggingAndBookkeepingExecution">
      <soap:address location="http://test.glite.org/lb:8080" />
    </port>
  </service>
</definitions>
