libraries/glite-wms-wmproxy/src/main/wsdl/WMProxy-gridsite-delegation-1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) Members of the EGEE Collaboration. 2004. See
 http://www.eu-egee.org/partners/ for details on the copyright holders.
 
 Licensed under the Apache License, Version 2.0 (the "License"); you may not
 use this file except in compliance with the License. You may obtain a copy of
 the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 License for the specific language governing permissions and limitations under
 the License.
-->
<definitions 
    targetNamespace="http://www.gridsite.org/namespaces/delegation-1" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.gridsite.org/namespaces/delegation-1" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <schema
        targetNamespace="http://www.gridsite.org/namespaces/delegation-1" 
        xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="DelegationExceptionType">
    <sequence>
     <element name="message" type="xsd:string" nillable="true" />
    </sequence>
   </complexType>
   <xsd:element name="DelegationException" type="tns:DelegationExceptionType"/>
  </schema>
 </types>

   <message name="getProxyReqResponse">
      <part name="getProxyReqReturn" type="xsd:string"/>
   </message>
   <message name="getProxyReqRequest">
      <part name="delegationID" type="xsd:string"/>
   </message>

   <message name="DelegationException">
      <part name="fault" element="tns:DelegationException"/>
   </message>

   <message name="putProxyResponse"/>
   <message name="putProxyRequest">
      <part name="delegationID" type="xsd:string"/>
      <part name="proxy" type="xsd:string"/>
   </message>

   <portType name="Delegation">
      <operation name="getProxyReq" parameterOrder="delegationID">
         <documentation>
            Starts the delegation procedure by asking for a certificate 
            signing request from the server. The server answers with a
            certificate signing request which includes the public key 
            for the new delegated credentials.
         </documentation>
         <input message="tns:getProxyReqRequest" name="getProxyReqRequest"/>
         <output message="tns:getProxyReqResponse" name="getProxyReqResponse"/>
         <fault message="tns:DelegationException" name="DelegationException"/>
      </operation>
      
      <operation name="putProxy" parameterOrder="delegationID proxy">
         <documentation>
            Finishes the delegation procedure by sending the signed 
            proxy certificate to the server.
         </documentation>
         <input message="tns:putProxyRequest" name="putProxyRequest"/>
         <output message="tns:putProxyResponse" name="putProxyResponse"/>
         <fault message="tns:DelegationException" name="DelegationException"/>
      </operation>
   </portType>

   <binding name="Delegation1SoapBinding" type="tns:Delegation">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <operation name="getProxyReq">
         <wsdlsoap:operation soapAction=""/>
         <input name="getProxyReqRequest">
            <wsdlsoap:body namespace="http://www.gridsite.org/namespaces/delegation-1" use="literal"/>
         </input>
         <output name="getProxyReqResponse">
            <wsdlsoap:body namespace="http://www.gridsite.org/namespaces/delegation-1" use="literal"/>
         </output>
         <fault name="DelegationException">
            <wsdlsoap:fault name="DelegationException" use="literal"/>
         </fault>
      </operation>

      <operation name="putProxy">
         <wsdlsoap:operation soapAction=""/>
         <input name="putProxyRequest">
            <wsdlsoap:body namespace="http://www.gridsite.org/namespaces/delegation-1" use="literal"/>
         </input>
         <output name="putProxyResponse">
            <wsdlsoap:body namespace="http://www.gridsite.org/namespaces/delegation-1" use="literal"/>
         </output>
         <fault name="DelegationException">
            <wsdlsoap:fault name="DelegationException" use="literal"/>
         </fault>
      </operation>
   </binding>

  <service name="DelegationService">
      <port binding="tns:Delegation1SoapBinding" name="gridsite-delegation1">
         <wsdlsoap:address location="https://localhost:8443/glite-security-delegation"/>
      </port>
  </service>

</definitions>
